.topbar{
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0 20%;
    padding-top: 1%;
}

.banner{
    background-color: #1f2937;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 20%;
    
}
body{
    font-family: sans-serif;
}

.cadre{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    gap: 10px;
    
}
.website{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}
.little{
    font-size: 18px;
    color: #e5e7eb;
}

.signup{
display: flex;
background-color:#3882f6;
color: white;
padding: 3px 3px;
margin-right: 70%;
align-items: center;
justify-content: center;
}


.image{
    background-color:lightgray;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px ;
    padding-bottom: 70px;


}

.square  { 
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    
}

.carre {
    border-style: solid;
    border-width: 5px;
    border-color:#3882f6;
    padding: 90px 100px; 
    margin: 0 23px;
}   

.square  { 
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}


.carre {
    border-style: solid;
    border-width: 5px;
    border-color:#3882f6;
    padding: 90px 100px; 
    margin: 0 23px;
}

.grey{
background-color: rgb(231, 226, 226);
padding-top: 100px;
display: flex;
justify-content: center;

}

.textgrey{
    
    margin: 0 60px;
    flex-basis: 40%;
    font-size: 40px;
    font-weight: 10;
    color:rgb(70, 61, 61);
}

.thor{
    padding-bottom: 100px;
    background-color: rgb(231, 226, 226);
    display: flex;
    justify-content: right;
}

.t {
font-size: 35px;
font-weight: bold;
color: rgb(39, 34, 34);
margin-right: 31%;
margin-top: 4px;
}

.blanc {
    display: flex;
    justify-content: center;
    margin: 150px;

}

.bleu {
    background-color:#3882f6 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 60%;
    padding: 50px 150px;
}

.gauche {
    display: flex;
    flex-direction: column;
}

